body {
    margin: 0;
}

@font-face  {
    font-family: "MyriadPro";
    src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}

header {
    width: 100%;
    height: 100%;
    background-image: url('./img/hero-bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title {
    margin-top: 6%;
    font-size: 4vw;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;      
}

.subtitle {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.933;
    text-align: center;   
}

.image-container {
    padding-top: 9%;
    padding-bottom: 4%;
}

.scroll-container {
    margin-top: 12%;
    padding-bottom: 5%;
}

.about, .services, .what-we-do, .contact-us, .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about {
    background-color: white;
    height: 630px;
}

.services {
    background-image: url('./img/services.png');
    height: 488px;
}

.what-we-do {
    background-color: white;
    height: 1400px;
}

.contact-us {
    height: 400px;
}


.text-container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    position: relative;
    border: 2px solid rgb(60, 60, 60);
    width: 90%;
    height: auto;
    padding: 15px 25px;  
    font-family: 'Lato', sans-serif;
    font-size: 1vw;  
    color: rgb(60, 60, 60);
    line-height: 1.5;  
}

h2.text {
    position: absolute;
    background-color: white;
    opacity: 1;
    top: -32px;
    text-align: center;
    width: 420px;
    font-family: 'Lato', sans-serif;
    font-size: 2.2vw;
    color: rgb(60, 60, 60);
    font-weight: 700; 
    line-height: 0;
    letter-spacing: 3px;
}

img.icon {
    margin-top: 100px;
}
/* .text:before,
.text:after {
    content: "";
    position: absolute;
    height: 2px;
    background:rgb(60, 60, 60);;
    top: 50%;
    margin: auto;
}

.text:before {
    width: 240px;
    left: -240px;
}

.text:after {
    width: 240px;
    right: -240px;
} */

ul {
    padding: 0px;
    height: 480px;
    list-style: none;
    font-size: 0;
}

.our-works li {
    height: 50%;
    margin: 0;
    padding-top: 160px;
    padding-left: 38px;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 2.2vw;
    color: white;
    font-weight: 700; 
    border: 4px solid white;
    letter-spacing: 3px;
}

.our-works li:hover {
    opacity: 0.7;
    transition: .3s;
}

.topworks, .market, .worktop, .kyiv {
    width: 30%;
}

.joint, .lable {
    width: 40%;
}

.topworks {
    background: url(./img/Layer\ 5\ copy.png);
}

.market {
    background: url(./img/Layer\ 5\ copy\ 2.png);
}

.joint {
    background: url(./img/Layer\ 5\ copy\ 3.png);
}

.worktop {
    background: url(./img/Layer\ 5\ copy\ 4.png);
}

.lable {
    background: url(./img/Layer\ 5\ copy\ 23.png);
}

.kyiv {
    background: url(./img/Layer\ 5\ copy\ 43.png);
}

button {
    margin-top: 46px;
    width: 420px;
    height: 58px;
    background-color: rgb(60, 60, 60);
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: white;
    line-height: 1.2;
    border: none;
    outline: none;
}

button:hover {
    background-color: rgb(90, 54, 54);
}

footer {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875em;
    font-family: "MyriadPro";
    color: rgb(60, 60, 60);
    line-height: 1.2;
}

footer p {
    margin-left: 46px;
}



@media screen and (max-width: 480px) {
    h1.title {
        width: 65%;
        font-size: 7vw;
    }

    .subtitle {
        width: 65%;
        font-size: 3vw;
        line-height: 1.5;
    }

    .text-container {
        top: -20px;
        font-size: 3vw;
    }

    h2.text {
        font-size: 5vw;
    }

    .about {
        height: 400px;
    }

    .services {
        height: 350px;
    }

    .what-we-do {
        background-color: white;
        height: 1250px;}
    
    .our-works {
        height: 750px;
    }

    .contact-us {
        height: 250px;
    }

    footer {
        height: 80px;
    }
    ul {
        margin-left: auto;
        margin-right: auto;
    }

    .our-works li { 
        width: 50%;
        font-size: 5vw;}
    
    .topworks, .market, .worktop, .kyiv {
        height: 30%;
    }
        
    .joint, .lable {
        height: 40%;
     }

    button {
        margin-top: 20px;
        width: 210px;
        height: 29px;}
}